@model List<Appointment>

<h2>Appointment List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Appointmentid</th>
            <th>Patientname</th>
            <th>Doctorname</th>
            <th>AppointmentDate</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Reason</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Appointmentid</td>
                <td>@appointment.Patientname</td>
                <td>@appointment.Doctorname</td>
                <td>@appointment.AppointmentDate</td>
                <td>@appointment.StartTime</td>
                <td>@appointment.EndTime</td>
                <td>@appointment.Reason</td>
                  <td>
                    <!-- <a asp-action="Details" asp-route-id="@appointment.Appointmentid">Details</a> | -->
                    <a asp-action="Edit" asp-route-id="@appointment.Appointmentid">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@appointment.Appointmentid">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Add New Appointment</a>
